ul{
    list-style-type: none;
}
ul{
    display: inline;
}
.nav-link {
    display: block;
    padding: .1rem 1rem;
        padding-top: 1rem;
        padding-right: 0rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
	font-size:0.8em;
}

/* .mat-toolbar { */
    /* background-color: #00a1b8!important; */
/* } */
.mat-toolbar {
    background: rgba(0,161,184,.82);
}