<div id="login1" class="image">
  <div class="container-fluid" >
    <div class="col-md-4 mx-auto">
      <form action="" style="margin-top: 50px">
      <div class="form-group">
        <input placeholder="first name" class="form-control"name ="firstname" type="text">
      </div>
      <div class="form-group">
        <input placeholder="last name" class="form-control"name ="lastname" type="text">
      </div>
      <div class="form-group">
        <input placeholder="email"class="form-control"name ="email" type="text">
      </div>
      <div class="form-group">
        <input placeholder="password"class="form-control" name="password" type="password">
      </div>
      <div class="form-group">
        <input placeholder="confirm password"class="form-control" name="password2" type="password">
      </div>
        <ul id="parent">
          <li>
          <input class="form-control" matInput [matDatepicker]="picker" placeholder="date of birth">
          </li>
          <li>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </li>
        </ul>     
    </form>
    <button type="submit" class="btn btn-info">SignUp</button>
  </div>
  </div>
</div>
