<div id="login1" class="">
  <div class="container-fluid image">
    <div class="col-md-4 mx-auto">
      <form action="" style="margin-top: 50px">
        <div *ngIf="password_not_match==true" class="alert alert-danger">
          passwords must match
        </div>
        <div class="form-group">
          <input [(ngModel)]="new_user.firstname" placeholder="first name" class="form-control" name="firstname" type="text" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="new_user.lastname" placeholder="last name" class="form-control" name="lastname" type="text" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="new_user.email" placeholder="email" class="form-control" name="email" type="text" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="pass.password" [(ngModel)]="new_user.password" placeholder="password" class="form-control" name="password"
            type="password" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="pass.password1" placeholder="confirm password" class="form-control" name="password1" type="password"
            required>
        </div>
        <div>
          <input [(ngModel)]="new_user.dateofbirth" placeholder="dateofbirth" class="form-control" name="date" type="date" required>
        </div>
        <br>
        <button (click)="validate()" type="submit" class="btn btn-info col-md-9">SignUp</button>
      </form>
      <a class="nav-link" (click)="loginfunc()" style="color: black;padding-left: 80px;">signin</a>
    </div>
  </div>
</div>