/*creating responsiveness using media queries to cater for the different screen sizes*/

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.mat-datepicker-toggle {
    color: white;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
div.container-fluid{
  /*width: 100%;*/
  background-image:url("/src/images/rawpixel-586687-unsplash (1).jpg");
  position: absolute;
  top:63px; bottom:0; right:0; left:0;
  background-repeat: no-repeat;
  background-size: cover;
}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
div.container-fluid{
  /*width: 100%;*/
  background-image:url("/src/images/rawpixel-586687-unsplash (1).jpg");
  position: absolute;
  top:63px; bottom:0; right:0; left:0;
  background-repeat: no-repeat;
  background-size: cover;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	div.container-fluid{
  /*width: 100%;*/
  background-image:url("/src/images/rawpixel-586687-unsplash (1).jpg");
  position: absolute;
  top:55px; bottom:-223px; right:0; left:0;
  background-repeat: no-repeat;
  background-size: cover;
}

} 

.form-control {
    display: flex;
    width: 75%;
    height: calc(1.88rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 0.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#button {
    list-style: none;
    /* width: 40%; */
    height: 40%;
    /* /* margin: 2px!important; */
    padding: 0;
    /* white-space: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
}

/* #button > li {
    display: inline-block;
    padding-right: 13px;
} */